In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import warnings
warnings.filterwarnings('ignore')

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `video_game_sales.csv` data from the `Resources` folder into a Pandas DataFrame.

In [42]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
video_game_sales_df = pd.read_csv('Resources/video_game_sales.csv')

# Review the DataFrame
video_game_sales_df.head(5)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [43]:
# Count unique variables
count_unique_names = video_game_sales_df['Name'].nunique()
count_unique_names

11493

In [44]:
# Drop null values
updated_df = video_game_sales_df.dropna()
updated_df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [45]:
# Drop extra columns
cleaned_df = updated_df.drop(columns=['Rank', 'Name', 'Global_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales'])
cleaned_df

      Platform    Year         Genre   Publisher  NA_Sales
0          Wii  2006.0        Sports    Nintendo     41.49
1          NES  1985.0      Platform    Nintendo     29.08
2          Wii  2008.0        Racing    Nintendo     15.85
3          Wii  2009.0        Sports    Nintendo     15.75
4           GB  1996.0  Role-Playing    Nintendo     11.27
...        ...     ...           ...         ...       ...
16593      GBA  2002.0      Platform       Kemco      0.01
16594       GC  2003.0       Shooter  Infogrames      0.01
16595      PS2  2008.0        Racing  Activision      0.00
16596       DS  2010.0        Puzzle    7G//AMES      0.00
16597      GBA  2003.0      Platform     Wanadoo      0.01

[16291 rows x 5 columns]

In [47]:
q_low = cleaned_df["NA_Sales"].quantile(0.00)
q_hi  = cleaned_df["NA_Sales"].quantile(0.95)

cleaned_df = cleaned_df[(cleaned_df["NA_Sales"] < q_hi) & (cleaned_df["NA_Sales"] > q_low)]
cleaned_df

      Platform    Year       Genre        Publisher  NA_Sales
82         PS3  2012.0      Action  Electronic Arts      1.06
83          PC  2009.0  Simulation  Electronic Arts      0.98
112        PS3  2013.0      Sports  Electronic Arts      0.78
121        PS3  2011.0      Sports  Electronic Arts      0.84
124        PS4  2014.0      Sports  Electronic Arts      0.79
...        ...     ...         ...              ...       ...
16591       PC  2004.0   Adventure          Ubisoft      0.01
16592       DS  2008.0  Simulation        Destineer      0.01
16593      GBA  2002.0    Platform            Kemco      0.01
16594       GC  2003.0     Shooter       Infogrames      0.01
16597      GBA  2003.0    Platform          Wanadoo      0.01

[11043 rows x 5 columns]

In [48]:
platform_names = cleaned_df['Platform'].value_counts()
platform_names

Platform
PS2     1487
DS      1460
Wii     1046
X360     995
PS3      910
PS       897
XB       780
GBA      690
PSP      570
GC       506
PC       351
N64      254
3DS      238
PS4      219
XOne     173
PSV      138
WiiU     111
2600      99
NES       56
GB        26
SNES      25
GEN        5
SAT        3
DC         3
SCD        1
Name: count, dtype: int64

In [49]:
# Determine which values to replace if counts are less than or equal to 5.
names_to_replace = list(platform_names[platform_names < 200].index)

# Replace in dataframe
for app in names_to_replace:
    cleaned_df['Platform'] = cleaned_df['Platform'].replace(app,"Other")
    
# Check to make sure binning was successful
cleaned_df['Platform'].value_counts()

Platform
PS2      1487
DS       1460
Wii      1046
X360      995
PS3       910
PS        897
XB        780
GBA       690
Other     640
PSP       570
GC        506
PC        351
N64       254
3DS       238
PS4       219
Name: count, dtype: int64

In [50]:
publisher_names = cleaned_df['Publisher'].value_counts()
publisher_names[0:40]

Publisher
Electronic Arts                           1123
Activision                                 862
Ubisoft                                    774
THQ                                        658
Konami Digital Entertainment               462
Sony Computer Entertainment                462
Nintendo                                   362
Take-Two Interactive                       343
Sega                                       328
Namco Bandai Games                         310
Atari                                      305
Capcom                                     254
Disney Interactive Studios                 196
Warner Bros. Interactive Entertainment     193
Midway Games                               186
Acclaim Entertainment                      170
Tecmo Koei                                 163
505 Games                                  161
Eidos Interactive                          155
Square Enix                                152
Vivendi Games                              142
Microsoft Game Studios                     136
Codemasters                                119
Zoo Digital Publishing                     103
D3Publisher                                 95
Deep Silver                                 91
Majesco Entertainment                       89
LucasArts                                   73
Rising Star Games                           73
Crave Entertainment                         71
Nippon Ichi Software                        66
Infogrames                                  58
Bethesda Softworks                          57
Virgin Interactive                          51
Ignition Entertainment                      51
Empire Interactive                          47
Destineer                                   45
GT Interactive                              43
Unknown                                     43
Global Star                                 38
Name: count, dtype: int64

In [51]:
# Determine which values to replace if counts are less than or equal to 5.
names_to_replace = list(publisher_names[publisher_names < 200].index)

# Replace in dataframe
for app in names_to_replace:
    cleaned_df['Publisher'] = cleaned_df['Publisher'].replace(app,"Other")
    
# Check to make sure binning was successful
cleaned_df['Publisher'].value_counts()

Publisher
Other                           4800
Electronic Arts                 1123
Activision                       862
Ubisoft                          774
THQ                              658
Konami Digital Entertainment     462
Sony Computer Entertainment      462
Nintendo                         362
Take-Two Interactive             343
Sega                             328
Namco Bandai Games               310
Atari                            305
Capcom                           254
Name: count, dtype: int64

In [52]:
genre_names = cleaned_df['Genre'].value_counts()
genre_names

Genre
Action          2357
Sports          1699
Misc            1087
Racing          1024
Shooter         1004
Role-Playing     792
Platform         706
Simulation       577
Fighting         531
Adventure        526
Puzzle           421
Strategy         319
Name: count, dtype: int64

In [53]:
cleaned_df = pd.get_dummies(cleaned_df,columns=['Platform', 'Genre', 'Publisher'],drop_first=True)
cleaned_df

,Year,NA_Sales,Platform_DS,Platform_GBA,Platform_GC,Platform_N64,Platform_Other,Platform_PC,Platform_PS,Platform_PS2,...,Publisher_Electronic Arts,Publisher_Konami Digital Entertainment,Publisher_Namco Bandai Games,Publisher_Nintendo,Publisher_Other,Publisher_Sega,Publisher_Sony Computer Entertainment,Publisher_THQ,Publisher_Take-Two Interactive,Publisher_Ubisoft
82,2012.0,1.06,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
83,2009.0,0.98,False,False,False,False,False,True,False,False,...,True,False,False,False,False,False,False,False,False,False
112,2013.0,0.78,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
121,2011.0,0.84,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
124,2014.0,0.79,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16591,2004.0,0.01,False,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,True
16592,2008.0,0.01,True,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
16593,2002.0,0.01,False,True,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
16594,2003.0,0.01,False,False,True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
16597,2003.0,0.01,False,True,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False

In [55]:
# Create the X set by using the `reshape` function to format the ads data as a single column array.
X = cleaned_df.drop('NA_Sales',axis=1)

# Display sample data
X[:5]

,Year,Platform_DS,Platform_GBA,Platform_GC,Platform_N64,Platform_Other,Platform_PC,Platform_PS,Platform_PS2,Platform_PS3,...,Publisher_Electronic Arts,Publisher_Konami Digital Entertainment,Publisher_Namco Bandai Games,Publisher_Nintendo,Publisher_Other,Publisher_Sega,Publisher_Sony Computer Entertainment,Publisher_THQ,Publisher_Take-Two Interactive,Publisher_Ubisoft
82,2012.0,False,False,False,False,False,False,False,False,True,...,True,False,False,False,False,False,False,False,False,False
83,2009.0,False,False,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,False,False
112,2013.0,False,False,False,False,False,False,False,False,True,...,True,False,False,False,False,False,False,False,False,False
121,2011.0,False,False,False,False,False,False,False,False,True,...,True,False,False,False,False,False,False,False,False,False
124,2014.0,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False

In [56]:
# Create an array for the dependent variable y with the sales data
y = cleaned_df["NA_Sales"]

In [57]:
# Create a model with scikit-learn
model = LinearRegression()

In [58]:
X.shape

(11043, 38)

In [59]:
# Fit the data into the model
model.fit(X, y)

LinearRegression()

In [60]:
# Display the slope
print(f"Model's slope: {model.coef_}")

Model's slope: [-0.00821176  0.00963878 -0.04799089 -0.048897   -0.00100436  0.06545079
 -0.06739655 -0.05513691  0.00330991  0.07893281  0.09864767 -0.02407775
  0.05946788  0.09554967 -0.03105222 -0.05399507  0.02427704 -0.01249164
  0.01940334 -0.05830079 -0.02625128  0.00436791  0.00832713  0.00774449
 -0.02547668 -0.07067616 -0.05930218 -0.03983796  0.08551036 -0.10100441
 -0.08666282  0.17865681 -0.09004103 -0.03707722 -0.00055312  0.0004098
  0.01989776 -0.03545237]

In [61]:
# Display the y-intercept
print(f"Model's y-intercept: {model.intercept_}")

Model's y-intercept: 16.717844243576366

In [62]:
# Display the model's best fit line formula
print(f"Model's formula: y = {model.intercept_} + {model.coef_}X")

Model's formula: y = 16.717844243576366 + [-0.00821176  0.00963878 -0.04799089 -0.048897   -0.00100436  0.06545079
 -0.06739655 -0.05513691  0.00330991  0.07893281  0.09864767 -0.02407775
  0.05946788  0.09554967 -0.03105222 -0.05399507  0.02427704 -0.01249164
  0.01940334 -0.05830079 -0.02625128  0.00436791  0.00832713  0.00774449
 -0.02547668 -0.07067616 -0.05930218 -0.03983796  0.08551036 -0.10100441
 -0.08666282  0.17865681 -0.09004103 -0.03707722 -0.00055312  0.0004098
  0.01989776 -0.03545237]X

In [63]:
# Make predictions using the X set
predicted_y_values = model.predict(X)
predicted_y_values

array([0.36022072, 0.24627113, 0.32653227, ..., 0.1592666 , 0.13907252,
       0.15105484])

In [65]:
# Create a copy of the original data
predicted_sales_df = cleaned_df[['Year','NA_Sales']].copy()

# Add a column with the predicted sales values
predicted_sales_df["sales_predicted"] = predicted_y_values

# Display sample data
predicted_sales_df.head(20)

       Year  NA_Sales  sales_predicted
82   2012.0      1.06         0.360221
83   2009.0      0.98         0.246271
112  2013.0      0.78         0.326532
121  2011.0      0.84         0.342956
124  2014.0      0.79         0.338035
137  2004.0      0.07         0.198443
149  2009.0      0.66         0.413076
161  2008.0      0.47         0.169077
180  2004.0      0.65         0.179108
188  2013.0      0.96         0.373967
199  2010.0      0.60         0.351168
219  2014.0      0.57         0.318321
221  2016.0      0.28         0.321612
242  2000.0      0.20         0.153509
249  2006.0      0.10         0.121877
256  2013.0      0.92         0.343149
269  2005.0      0.78         0.316603
270  2003.0      0.88         0.259949
275  2011.0      0.84         0.359573
283  2006.0      0.71         0.308392

In [66]:
# Compute the metrics for the linear regression model
score = model.score(X, y, sample_weight=None)
r2 = r2_score(y, predicted_y_values)
mse = mean_squared_error(y, predicted_y_values)
rmse = np.sqrt(mse)
std = np.std(y)

# Print releveant metrics.
print(f"The score is {score}.")
print(f"The r2 is {r2}.")
print(f"The mean squared error is {mse}.")
print(f"The root mean squared error is {rmse}.")
print(f"The standard deviation is {std}.")

The score is 0.16204579925143237.
The r2 is 0.16204579925143237.
The mean squared error is 0.040367283194642646.
The root mean squared error is 0.20091610984349326.
The standard deviation is 0.21948488596541849.

In [67]:
# Add a new column that has the status
column_values = cleaned_df[(cleaned_df.Global_Sales >= 1.00)
                                       ]

final_df = cleaned_df.insert(column='Sales_Status', value=column_values)
final_df.head(5)

AttributeError: 'DataFrame' object has no attribute 'Global_Sales'

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** Because the balanced accuracy score is 95%, the logistic regression model performs well. Having said that, this is more than likely due to the data that is imbalanced.
The number of healthy loans, which are low-risk, outweigh the number of non-healthy loans, which are high-risk. This means that the model will do a better job at predicting the loan status's as healthy rather than predicting the loan status's as non-healthy.

Looking at the imbalanced classification report, the model predicts healthy loans 100% of the time and non-healthy loans 85% of the time.

---

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** The balanced accuracy score of the oversampler model is 99%, which is higher than the 95% of the imbalanced data. The oversampler model is better at identifying high risk loans. There are also a lot less fake positives.